<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnaOkuluBilisim.Properties.Settings.AnaOkuluDBConnectionString"
            connectionString="Data Source=CODE-01;Initial Catalog=AnaOkuluDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AnaOkuluBilisim.Properties.Settings.AnaOkuluDBConnectionString1"
            connectionString="Data Source=Eagle;Initial Catalog=AnaOkuluDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>